## Data Analysis Lab I

For this lab, you will continue work on your 4th TLAB. The dataset for this lab is in the `../data/shopping.csv` file. 

The goals for this process include:

* Generate new groups & bins to explore relationships
* Generate pivot tables for further analysis 
* Answer a few business-related questions

After you've completed this process, answer the questions underneath `Data Analysis Lab II` in your own words.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# TODO: load `../data/shopping.csv` as a pandas dataframe

df = pd.read_csv('../data/shopping.csv')

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,3475,NaN,Male,Jacket,30.904467,Maine,M,Burnt orange,Fall,4.0,Standard,No,0,Credit Card,NaN
1,3698,21.0,Female,Backpack,31.588259,NaN,L,Turquoise,Winter,2.0,Express,No,1,Credit Card,Monthly
2,2756,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,4.0,Standard,No,0,Credit Card,NaN
3,3340,NaN,Male,Pajamas,33.918834,Nebraska,M,Black,Winter,NaN,Standard,No,2,Credit Card,Bi-Weekly
4,3391,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,NaN,Standard,No,0,Credit Card,NaN

## Groups

In [49]:
# TODO: Group your dataframe according to the "Payment Method" column. Save this grouped dataframe into a new variable
# called 'g_pay' 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

g_pay = df.groupby(['Payment Method'])
g_pay

In [53]:
# TODO: Using the "agg" function calculate the mean and median of the "Purchase Amount (USD)" column in the `g_pay` object

g_pay['Purchase Amount (USD)'].agg('mean', 'median')

Payment Method
Bank Transfer    42.724584
Cash             37.174985
Credit Card      38.607690
Debit Card       38.826152
PayPal           38.748823
Venmo            38.595344
Name: Purchase Amount (USD), dtype: float64

In [54]:
# TODO: Using the "agg" function calculate the mean and median of the "Age" column in the `g_pay` object

g_pay['Age'].agg('mean', 'median')

Payment Method
Bank Transfer    65.090909
Cash             65.300000
Credit Card      33.774270
Debit Card       33.595506
PayPal           35.355433
Venmo            34.505747
Name: Age, dtype: float64

In [55]:
# TODO: Using the "agg" function calculate the mean and median of the "Review Rating" column in the `g_pay` object

g_pay['Review Rating'].agg('mean', 'median')

Payment Method
Bank Transfer    4.000000
Cash             3.333333
Credit Card      3.874763
Debit Card       3.960334
PayPal           3.886792
Venmo            3.879808
Name: Review Rating, dtype: float64

In [57]:
# TODO: Group your dataframe according to the "Season" column. Save this grouped dataframe into a new variable
# called 'g_season' 

g_season = df.groupby(['Season'])
g_season

In [58]:
# TODO: Using the "agg" function calculate the mean and median of the "Purchase Amount (USD)" column in the `g_season` object

g_season['Purchase Amount (USD)'].agg('mean', 'median')

Season
Fall      38.830085
Spring    39.293314
Summer    38.690885
Winter    38.366148
Name: Purchase Amount (USD), dtype: float64

In [59]:
# TODO: Using the "agg" function calculate the mean and median of the "Age" column in the `g_season` object

g_season['Age'].agg('mean', 'median')

Season
Fall      34.302083
Spring    33.772901
Summer    34.495887
Winter    34.262128
Name: Age, dtype: float64

In [60]:
# TODO: Using the "agg" function calculate the mean and median of the "Review Rating" column in the `g_season` object

g_season['Review Rating'].agg('mean', 'median')

Season
Fall      3.813953
Spring    3.892683
Summer    4.005882
Winter    3.911824
Name: Review Rating, dtype: float64

## Pivot Tables

In [62]:
# TODO: Create a pivot table where "Payment Method" is your column, "Shipping Type" is your index, and "Age" is your value
# use the "mean" function as the "aggfunc" parameter.
# Save this pivot table to a new variable named `tab_pay`
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html#

tab_pay = pd.pivot_table(df, values='Age', index=['Shipping Type'], columns=['Payment Method'], aggfunc="mean")
tab_pay

Payment Method,Bank Transfer,Cash,Credit Card,Debit Card,PayPal,Venmo
Shipping Type,,,,,,
2-Day Shipping,64.750000,63.000000,33.762274,33.925000,34.655629,33.879195
Express,NaN,NaN,32.436170,32.957746,35.918919,32.833333
Next Day Air,NaN,69.000000,34.612500,33.431818,38.489362,33.205128
Standard,65.285714,65.428571,33.864023,33.525903,35.152597,35.290210
Store Pickup,NaN,NaN,NaN,19.000000,NaN,NaN

In [63]:
# TODO: output this table for display. Notice the difference in average ages.

tab_pay

Payment Method,Bank Transfer,Cash,Credit Card,Debit Card,PayPal,Venmo
Shipping Type,,,,,,
2-Day Shipping,64.750000,63.000000,33.762274,33.925000,34.655629,33.879195
Express,NaN,NaN,32.436170,32.957746,35.918919,32.833333
Next Day Air,NaN,69.000000,34.612500,33.431818,38.489362,33.205128
Standard,65.285714,65.428571,33.864023,33.525903,35.152597,35.290210
Store Pickup,NaN,NaN,NaN,19.000000,NaN,NaN

In [68]:
# TODO: Create a pivot table where you analyze the count of purchases for each combination of "Color" and "Season"
# use the "count" function as the "aggfunc" parameter.
# Save this pivot table to a new variable named `tab_season`
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html#

tab_season = pd.pivot_table(df, values='Purchase Amount (USD)', index=['Color'], columns=['Season'], aggfunc="count")

In [69]:
# TODO: Output this table for observation. Notice how counts of colors change throughout the season

tab_season

Season                Fall  Spring  Summer  Winter
Color
Aubergine              101       4      14     144
Baby blue               17      83      99      24
Black                  103       5      12     155
Brick red              103       7      14     140
Brown                  117       5       5     120
Burnt orange           110       4      10     138
Fuchsia                  5      59     103      21
Lavender                19      63     120      13
Lemon yellow            11      62     112      18
Mauve                  102       6      12     120
Muted mustard yellow   103      10      15     110
Pale peach              13      68     104      15
Periwinkle               9      63     105       9
Ruby Red               112       4      10     132
Terra cotta            108       5      15     131
Turquoise               10      60      96      19
White                   13      73      96      12

In [70]:
# TODO: Using the "idmax" method, get the index with the maximum value for each Season column on the pivot table `tab_season`
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

tab_season.idxmax(axis = 'columns')

Color
Aubergine               Winter
Baby blue               Summer
Black                   Winter
Brick red               Winter
Brown                   Winter
Burnt orange            Winter
Fuchsia                 Summer
Lavender                Summer
Lemon yellow            Summer
Mauve                   Winter
Muted mustard yellow    Winter
Pale peach              Summer
Periwinkle              Summer
Ruby Red                Winter
Terra cotta             Winter
Turquoise               Summer
White                   Summer
dtype: object

## Bins

In [18]:
# TODO: Create a new column called "purchase group" in your original dataframe which equally seperates your dataframe into 
# two groups of shoppers based on their "Purchase Amount (USD)" column using the "pd.qcut" method. 
# Ensure that you are only creating 2 "bins" and label these respective bins as ["Low", "High"]
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.qcut.html

df["purchase group"] = ...

df["purchase group"]

0       Ellipsis
1       Ellipsis
2       Ellipsis
3       Ellipsis
4       Ellipsis
          ...
3895    Ellipsis
3896    Ellipsis
3897    Ellipsis
3898    Ellipsis
3899    Ellipsis
Name: purchase group, Length: 3900, dtype: object

In [19]:
# TODO: Group your dataframe according to this new "purchase group" column. Save this grouped dataframe into a new variable
# called 'g_purchase' 

...

Ellipsis

In [20]:
# TODO: Using the "agg" function calculate the mean and median of the "Review Rating" column in the `g_purchase` object

...

Ellipsis

In [21]:
# TODO: Using the "agg" function calculate the mean and median of the "Previous Purchases" column in the `g_purchase` object

...

Ellipsis

## Hypothesis Testing 

Your manager has a hunch that people who have paid by credit card tend to spend more than people who have purchased by debit card. Let's test the statistical assumptions of this hypothesis.

What is the null hypothesis of this experiment? **Rememeber**: we are discussing the differences between average amounts spent between two groups.

Answer here

What is the alternative hypothesis of this experiment? **Rememeber**: we are discussing the differences between average amounts spent between two groups.

Answer here

In [22]:
# TODO: Create two new dataframes for only credit-card purchases and debit-card purchases, and save each respective dataframe into variables named `credit` and `debit` respectively. 
# Use boolean indexing to accomplish this. Recall that these values lie in the "Payment Method" column

credit = ...
debit = ...

In [23]:
# TODO: Calculate the p-value of the t-score between the "Purchase Amount (USD)" column of both these dataframes
# Documentation: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

from scipy import stats 

stats.ttest_ind(credit["Purchase Amount (USD)"], debit["Purchase Amount (USD)"])

TypeError: 'ellipsis' object is not subscriptable

## Data Analysis Lab II

In the next section, answer a few questions regarding your dataset using the output you've generated.

## Q1

Based on the p-value that we've calculated, what can we state about the null hypothesis referring to the difference of average dollars spent between credit card and debit card holders.

Answer here

## Q2

What is the average age of a user who pays with cash? What is the average age of someone who pays with credit card? Is there a difference between these two users?

Answer here

## Q3

What is the average age of a user who buys clothes in the spring? What is the average age of a user who buys clothes in the winter Is there a difference between these two users?

Answer here

## Q4

What is the most popular season for the color "Lemon yellow"?

Answer here

## Q5

What is the average review rating of a "low" purchase group user and the "high" purchase group?

Answer here